include cateye/data/test_data_full.csv
include cateye/data/example_data.csv
include cateye/data/example_events.csv
include data/test_data_full.csv
include data/example_data.csv
include data/example_events.csv